// Specific CSS for your home-page

body {
	display: flex;
	align-items: center;
	flex-direction:column;
	font-family: 'Montserrat', sans-serif !important;
	background-color: white;
	color:#95999A;
}

ul {
	list-style-type: none;
}
