<div class="card-title">
	<h1 class="d-flex justify-content-center">Index</h1>
</div>
<div class="prev-container px-4 py-3">
	<div class="card-diseases d-flex justify-content-center">
		<div class="test">
		<ul>
			<% @diseases.each do |disease| %>
			<li><%= link_to disease.name, disease_path(disease), class: "list-diseases" %></li>
			<% end %>		
		</ul>
		</div>
	</div>	
</div>


<footer>
	<div id="navbar-contenair">
		<div class="icon_name">
		<i class="fas fa-home"></i>
		<%= link_to "Home", root_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="far fa-user-circle"></i>
		<%= link_to "Profil", profil_path, class: "link-footer" %>
		</div>
		<div class="icon_name">
		<i class="fas fa-book-open"></i>
		<%= link_to "Index", diseases_path, class: "link-footer" %>
		</div>
	</div>
</footer>