<ul>
  <li><%= link_to "Conduite à tenir", behavior_path(@disease) %></li>
  <li><%= link_to "Quand consulter ?", need_know_path(@disease) %></li>
  <li><%= link_to "Ce qu'il faut savoir", consult_path(@disease) %></li>
  <li><%= link_to "Prévention", prevention_path(@disease) %></li>
</ul>
