
<div class="ellipse-background">
	<%= image_tag "background.png", class: "image-home" %>
</div>

<%= link_to "Urgence Enfants !", new_urgence_path %>

<%= link_to "show", disease_path(Disease.first) %>

<div class="ellipse-background-return">
	<div class="btn-home">
	<%= link_to "Connection", profil_path %>
	</div>
</div>

