.a-link-secours {
    background-color: white;
    border-bottom: 1px solid red;
    color: red;
    // font-weight: bolder;
    padding: 5px;
}

.a-link-secours:hover {
    color: red;
    text-decoration: none;
}


.chiante {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}