.btn-outline-primary1 {
    border-radius: 19px;
    width: 264px;
    height: 152px;
    background-color: #19ABFF;
    font-size: 24px;
    margin: 20px;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary1:hover {
    color:white;
}


.btn-outline-primary2 {
    border-radius: 19px;
    background-color: #53B7FF;
    font-size: 24px;
    font-weight: 1000;
    color: white;
    width: 264px;
    margin: 20px;
    height: 109px;
    box-shadow: drop;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary2:hover {
    color:white;
}

.btn-outline-primary3 {
    font-size: 24px;
    font-weight: 1000;
    color: white;
    border-radius: 19px;
    background-color: #6CC9FF;
    width: 264px;
    margin: 20px;
    height: 109px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary3:hover {
    color:white;
}

.btn-outline-primary4 {
    font-size: 24px;
    font-weight: bolder;
    color: white;
    border-radius: 19px;
    background-color: #7ED0FF;
    width: 264px;
    margin: 20px;
    height: 53px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary4:hover {
    color:white;
}

ul {
margin: 40px;
padding: 20px;
}