.card-title {
    text-align: justify;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px;
    min-width: 300px;
    color:#95999A;
}

.card-diseases {
    width: 100%;
    text-align: justify;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 70vh;
    border-color: #DCDCDC;
    color:#95999A;
}

.list-diseases {
    background-color: #FE7988;
    display: inline-block;
    transform: skewX(-15deg);
    margin: 15px;
    min-width: 300px;
    text-align: center;
    color:white;
}

.list-diseases:hover {
    text-decoration: none;
    color:white;
}

.prev-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
