.container-user{

}

.user-name{
	    display:flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-bottom: 10px;
}

.user-mail{
	    margin-left: 5px;
}

.ul-profil{
	border-bottom: 1px solid black;
}

.container-children{

}

.ul-profil-2{
	padding: 0 !important;
	margin: 0 !important;
}