.container-user {}

.user-name {
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-bottom: 10px;
    width: 23vw;
}

.user-mail {
    margin-left: 5px;
}

.ul-profil {
    border-bottom: 1px solid #66BBEC;
}

.container-children {
    width: 95%
}

.ul-profil-2 {
    padding: 10px !important;
    margin: 10px !important;
    border: 1px solid lightgrey;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.trash {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.trash a:link {
    text-decoration: none !important;
}

.edit {
    position: absolute;
    right: 25px;
    top: 0px;
    padding: 10px;
}

.edit a:link {
    text-decoration: none !important;
}

.container-profil {
    margin: 10px;
    padding: 10px;
    position: relative;

}

#deco-ajout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    padding: 10px;
}

.btn-deconnexion {
    width: 140px;
    border-radius: 5px;
    background-color: #EBEFEA;
    color: #95999A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2px;
    margin: 8px;
}

.btn-deconnexion:hover {
    color: #95999A;
    text-decoration: none;
}

.btn-ajout-enfant {
    width: 210px;
    border-radius: 5px;
    background-color: #EBEFEA;
    color: #95999A;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    text-decoration: none;
    padding: 2px;
    margin: 8px;
}

.btn-ajout-enfant:hover {
    color: #95999A;
    text-decoration: none;
}

.link-cards {
    color: #95999A;
}

.link-cards:hover {
    color: #95999A;
    text-decoration: none;
}